@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary dark:scrollbar-thumb-d-primary;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  width: 100vw;
}

.bg-iiitnr {
  --bg-opacity: 0.7;
  background: linear-gradient(
      rgba(0, 0, 0, var(--bg-opacity)),
      rgba(0, 0, 0, var(--bg-opacity))
    ),
    url('../../public/assets/iiitnr.png');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-sm font-medium mb-4;
}

h4 {
  @apply text-xs font-medium text-justify;
}

main {
  @apply h-full w-full text-text-primary dark:text-d-text-primary bg-background dark:bg-d-background overflow-y-auto;
}

.btn {
  @apply bg-primary 
  text-d-text-primary rounded-full text-sm;
}

div:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
}
/* @keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
} */
/* .Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: var(--toastify-z-index);
  opacity: 0.7;
  transform-origin: left;
}

.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
} */
